<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salários RG</title>
    <!-- Materialize CSS CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <style>

        header {
            background-color: #000000; /* Materialize Blue */
            color: white;
            padding: 20px;
            text-align: center;
           
        }
    </style>
</head>
<body>
    
   <header><p>Consulta Salários</p></header> 

    

    <div class="container">
        {{{body}}}
    </div>

    <!-- Materialize JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
